In [2]:
import pandas as pd

In [12]:
TravelData = pd.read_csv('OC_NS_20240920.csv')
TravelData['Seats'] = 0
TravelData['Occupied Seats'] = 0
display(TravelData)

In [13]:
for i in range(len(TravelData)):
    if TravelData.loc[i, 'VehicleType'] == "VIRM":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 100
    if TravelData.loc[i, 'VehicleType'] == "DDZ":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 100
    if TravelData.loc[i, 'VehicleType'] == "FLIRT FFF":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 53
    if TravelData.loc[i, 'VehicleType'] == "ICM":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 75
    if TravelData.loc[i, 'VehicleType'] == "ICNG25":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 52
    if TravelData.loc[i, 'VehicleType'] == "SLT":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 54
    if TravelData.loc[i, 'VehicleType'] == "SNG":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 50
    if TravelData.loc[i, 'VehicleType'] == "SW7-25KV":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 48
    if TravelData.loc[i, 'VehicleType'] == "SW9-25KV":
        TravelData.loc[i, 'Seats'] =  TravelData.loc[i, 'TotalNumberOfCoaches'] * 48

In [15]:
display(TravelData)

,DataOwnerCode,OperatingDay,LinePlanningNumber,JourneyNumber,ReinforcementNumber,TimingLinkOrder,UserStopCodeBegin,UserStopCodeEnd,Occupancy,VehicleType,TotalNumberOfCoaches,Seats,Occupied Seats
0,NS,2024-09-21,NaN,3753,0,14,EHV,HM,2,VIRM,6,600,0
1,NS,2024-09-29,NaN,6430,0,2,EHS,BET,2,FLIRT FFF,3,159,0
2,NS,2024-09-23,NaN,3328,0,2,LAA,GVM,2,SNG,8,400,0
3,NS,2024-09-23,NaN,3626,0,8,TB,HT,3,VIRM,8,800,0
4,NS,2024-09-21,NaN,3039,0,3,ANA,SGN,2,VIRM,6,600,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295295,NS,2024-09-29,NaN,5117,0,4,RSW,DT,2,SNG,4,200,0
295296,NS,2024-09-20,NaN,7459,0,8,ASD,ASDM,2,SNG,7,350,0
295297,NS,2024-09-21,NaN,3079,0,11,ASS,ASD,2,VIRM,10,1000,0
295298,NS,2024-09-28,NaN,7078,0,3,APDO,APD,2,SNG,3,150,0
295299,NS,2024-09-25,NaN,5189,0,10,RTZ,RLB,3,SNG,3,150,0

In [29]:
TravelData['OperatingDay'] = pd.to_datetime(TravelData['OperatingDay'])
dates_to_exclude = pd.to_datetime(['2024-09-20', '2024-09-21', '2024-09-22'])
df_filtered = TravelData[~TravelData['OperatingDay'].isin(dates_to_exclude)]
display(df_filtered.reset_index(drop=True))
TravelData2 = df_filtered.reset_index(drop=True)

,DataOwnerCode,OperatingDay,LinePlanningNumber,JourneyNumber,ReinforcementNumber,TimingLinkOrder,UserStopCodeBegin,UserStopCodeEnd,Occupancy,VehicleType,TotalNumberOfCoaches,Seats,Occupied Seats
0,NS,2024-09-29,NaN,6430,0,2,EHS,BET,2,FLIRT FFF,3,159,0
1,NS,2024-09-23,NaN,3328,0,2,LAA,GVM,2,SNG,8,400,0
2,NS,2024-09-23,NaN,3626,0,8,TB,HT,3,VIRM,8,800,0
3,NS,2024-09-26,NaN,7039,0,5,DVC,HON,2,SNG,3,150,0
4,NS,2024-09-29,NaN,5834,0,16,SHL,HFD,2,SLT,6,324,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209204,NS,2024-09-25,NaN,1824,0,6,LLS,ALM,3,DDZ,6,600,0
209205,NS,2024-09-24,NaN,6950,0,1,UT,UTLR,4,SLT,4,216,0
209206,NS,2024-09-29,NaN,5117,0,4,RSW,DT,2,SNG,4,200,0
209207,NS,2024-09-28,NaN,7078,0,3,APDO,APD,2,SNG,3,150,0
209208,NS,2024-09-25,NaN,5189,0,10,RTZ,RLB,3,SNG,3,150,0

np.int64(64)